In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
# Download Scipy command:
# python -m pip install --user numpy scipy matplotlib ipython jupyter pandas sympy nose
import scipy.stats as st

In [10]:
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)
print(mouse_metadata)

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]
249

In [66]:
#mouse_read = mouse_metadata.groupby(["Mouse ID"]).size()
# Combine the data into a single dataset
Study_Mouse_Data = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])
index = Study_Mouse_Data.index
number_of_rows = len(index) #find length of index.
print("number of rows", number_of_rows, sep='\n')
# Display the data table for preview
Study_Mouse_Data

number of rows
1893

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [67]:
# Total missing values for each feature
print(Study_Mouse_Data.isnull().sum()) # no null values found
# Checking the number of mice.

Total_mice = len(set(mouse_metadata["Mouse ID"]))
print("Total mice: " + str(Total_mice))

Mouse ID              0
Drug Regimen          0
Sex                   0
Age_months            0
Weight (g)            0
Timepoint             0
Tumor Volume (mm3)    0
Metastatic Sites      0
dtype: int64
Total mice: 249

In [68]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
#DataFrame.duplicated(subset = None, keep = â€˜firstâ€™)
Mouse_Time_duplicate_rows = Study_Mouse_Data[Study_Mouse_Data.duplicated(["Mouse ID", "Timepoint"], keep = "first")] 
print("Duplicate Rows based on Mouse ID and Timepoint :", sep='\n') 
Mouse_Time_duplicate_rows

Duplicate Rows based on Mouse ID and Timepoint :

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [55]:
# Optional: Get all the data for the duplicate mouse ID. 
Mouse_id_duplicate_rows = Study_Mouse_Data[Study_Mouse_Data.duplicated(subset=None, keep='first')]
print("Duplicate Rows based on Mouse ID :", sep='\n') 
Mouse_id_duplicate_rows

Duplicate Rows by (Mouse ID:)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.0,0

In [83]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
newStudy_Mouse_Data = Study_Mouse_Data.reset_index()
newStudy_Mouse_Data = newStudy_Mouse_Data.drop_duplicates(subset=["Mouse ID", "Timepoint"], keep = "first")
newStudy_Mouse_Data = newStudy_Mouse_Data.set_index("index")
print("New Dataframe", sep='\n')
newStudy_Mouse_Data
#df1 = df.reset_index().drop_duplicates(subset=['Age','Height'],
                                      # keep='first').set_index('index')

New Dataframe

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
index,,,,,,,,
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [87]:
# Optional: Get all the data for the duplicate mouse ID. 
newTotal_mice = len(set(newStudy_Mouse_Data["Mouse ID"]))
print("Total mice new: " + str(newTotal_mice))

Total mice new: 249

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.